{% extends "base.html" %}

{% block content %}
<h2>Espace administration</h2>
<p>Bienvenue dans l'administration de la médiathèque.</p>

<!-- Menu déroulant pour ajouter un média -->
<details>
    <summary>➕ Ajouter un média</summary>
    <ul>
        <li><a href="{% url 'ajouter_livre' %}">Ajouter un livre</a></li>
        <li><a href="{% url 'ajouter_cd' %}">Ajouter un CD</a></li>
        <li><a href="{% url 'ajouter_dvd' %}">Ajouter un DVD</a></li>
        <li><a href="{% url 'ajouter_jeu' %}">Ajouter un jeu de Plateau</a></li>
    </ul>
</details>

<!-- Menu déroulant pour gérer les membres -->
<details>
    <summary>👥 Gérer les membres</summary>
   <ul>
        <li><a href="{% url 'liste_membres' %}">Afficher / Mettre à jour la liste des membres</a></li>
        <li><a href="{% url 'ajouter_membre' %}">Créer un membre</a></li>
    </ul>
</details>

<!-- Déconnexion -->
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Déconnexion</button>
</form>

{% endblock %}

