{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Médiathèque</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div>
            <h1> Médiathèque Notre livre, notre média </h1>
        <!-- Lien toujours visible pour permettre aux professionnels de se connecter -->
            <a href="{% url 'login' %}">Connexion Administration</a>
        </div>
    </header>

    <!-- Contenu spécifique à chaque page -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
            <p>Médiathèque copyright 2025</p>
    </footer>

</body>
</html>